@inherits LayoutComponentBase

<MediatorSpinner />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://github.com/pipaslot/Mediator/wiki" target="_blank" class="ml-md-auto">Wiki</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
