@page "/auth"
@using Demo.Shared.Auth
@inject AuthService AuthService

<AuthorizeView>
    <NotAuthorized>
        <button class="btn btn-primary btn-sm" @onclick="Login">Login</button>
    </NotAuthorized>
    <Authorized>
        <strong>Hello, @context.User.Identity?.Name!</strong>
        <button class="btn btn-primary btn-sm" @onclick="Logout">Logout</button>
    </Authorized>
</AuthorizeView>


@code {
    private async Task Login()
    {
        await AuthService.SignIn("Demo", "haha");
    }
    private async Task Logout()
    {
        await AuthService.SignOut();
    }

}
