@page "/auth"
@using Demo.Client.Pages.AuthComponents
@using Demo.Shared.Auth
@inject AuthService AuthService

<AuthorizeView>
    <NotAuthorized>
        <button class="btn btn-primary btn-sm" @onclick="Login">Login</button>
    </NotAuthorized>
    <Authorized>
        <button class="btn btn-primary btn-sm" @onclick="Logout">Logout</button> Your role is: visitor
    </Authorized>
</AuthorizeView>
<hr/>
<h4>Conditional authorization</h4>
<ConditionalAuthorization Model="_formModel1" @key="@($"form1-{_isAuthenticated}")"/>
<br/><br/>
<IdentityStaticAuthorization @key="@($"form2-{_isAuthenticated}")"/>
<hr/>
<BusinessRuleDependentPolicy @key="@($"form3-{_isAuthenticated}")"/>

@code {
    private bool _isAuthenticated;
    private readonly ConditionalAuthorizationMessage _formModel1 = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await UpdateState();
    }

    private async Task Login()
    {
        await AuthService.SignIn("Demo", "haha");
        await Task.Delay(100);
        await UpdateState();
    }

    private async Task Logout()
    {
        await AuthService.SignOut();
        await UpdateState();
    }

    private async Task UpdateState()
    {
        var state = await AuthService.GetAuthenticationStateAsync();
        _isAuthenticated = state.User.Identity?.IsAuthenticated ?? false;
    }

}